<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mejores Autos de la Pelicula Cars</title>
    <link rel="stylesheet" href="../assets/styles/about.css">
</head>
<body>
    <nav>
        <input id="nav-toggle" type="checkbox">
        <div class="logo">BEST<strong> CARS</strong></div>
        <ul class="links">
            <li><a href="../../index.html">Inicio</a></li>
            <li><a href="content.html">Content</a></li>
            <li><a href="#">About</a></li>
        </ul>
        <label for="nav-toggle" class="icon-burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </label>
    </nav>
    <!-- Escribe en html sobre de que se trata esta pagina -->
    <div class="flexbox">
        <div class="div-about">
            <p class="about">Esta es una pagina web que trata sobre los autos que a mi parecer han
                dejado huella en la historia del mundo automotriz. Consta de una página de bienvenida llamada Incio,
                una página donde se encuentra el contenido llamada Content, la cual presenta 5 autos que han dejado marca y una página de información sobre la aplicación
                 llamada About. Todas las páginas son responsivas y se pueden ver en cualquier dispositivo. Además de contar con una navbar responsiva
                 la cual cambia de diseño en dispositivos pequeños, presentando un icono de hamburguesa que al ser presionado despliega un menú. Además
                 cuenta con un footer el cual posee un link que direcciona a mi repositorio de GitHub, donde se encuentra el código fuente de la aplicación.
                 También posee textos y cardboxes que cambian de estilo al pasar el mouse por encima de ellos.
            </p>
        </div>
    </div>
    <div class="div-footer">
        <footer class="footer">
            <div class="footer-content">
                <h3>Pagina hecha por Juan José Francisco Uriarte</h3>
                <a href="https://github.com/juanjouriarte/Web/tree/main/Tareas/Tarea%201" class="repositorio" target="_blank"><p>@juanjouriarte —  clickear para ir al codigo fuente.</p></a>
            </div>
        </footer>
    </div>
    
    

</body>
</html>