<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mejores Autos de la Pelicula Cars</title>
    <link rel="stylesheet" href="../assets/styles/content.css">
</head>
<body>
    <div class="navbar">
        <nav>
            <h2 class="logo">Cars</h2>
            <ul class="links">
                <li><a href="../../index.html">Inicio</a></li>
                <li><a href="#">Contenido</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </nav>
    </div>
    <section class="autos">
        <div class="container">
            <div class="wrapper">
                <div class="banner-image" id="supra"> </div>
                    <h1> Toyota Supra</h1>
                    <div class="informacion">
                        <p class="tipo">Año Creación:</p><p class="ano">1978</p>
                    </div>
                    <div class="description">
                        <p class="tipo">Descripcion:</p><p class="description-info">El Toyota Supra es un automóvil deportivo de dos puertas 
                            con motor de seis cilindros en línea, tracción trasera y diseño aerodinámico. 
                            Es reconocido por su rendimiento y manejo deportivo, así como por su asociación
                             con la cultura de carreras de autos modificados.</p>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="container">
            <div class="wrapper">
                <div class="banner-image" id="ford"> </div>
                    <h1> Ford Mustang</h1>
                    <div class="informacion">
                        <p class="tipo">Año Creación:</p><p class="ano">1964</p>
                    </div>
                    <div class="description">
                        <p class="tipo">Descripcion:</p><p class="description-info">El Mustang es un auto deportivo icónico de la marca Ford, 
                            conocido por su diseño clásico, potencia y rendimiento en la carretera.
                             Desde su lanzamiento en 1964, ha sido uno de los modelos más emblemáticos 
                             de la marca y ha pasado por varias generaciones con diseños actualizados.</p>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="container">
            <div class="wrapper">
              <div class="banner-image" id="volkswagen"> </div>
              <div class="info">
                <h1 class="h1-pequeño">Volkswagen Beetle</h1>
                <div class="informacion">
                  <p class="tipo">Año Creación:</p><p class="ano">1938</p>
                </div>
                <div class="description">
                  <p class="tipo">Descripción:</p><p class="description-info">El Beetle es un automóvil compacto de la marca Volkswagen, 
                      reconocido por su forma de "escarabajo" y su diseño peculiar. Originalmente diseñado
                       en la década de 1930, el Beetle se convirtió en un automóvil popular en todo el mundo
                        y se fabricó durante décadas hasta su discontinuación en 2019.</p>
                </div>
              </div>
            </div>
          </div>          
        <div class="container">
            <div class="wrapper">
                <div class="banner-image" id="corvette"></div>
                <h1 class="h1-pequeño">Chevrolet Corvette</h1>
                <div class="informacion">
                    <p class="tipo">Año Creación:</p>
                    <p class="ano">1953</p>
                </div>
                <div class="description">
                    <p class="tipo">Descripción:</p>
                    <p class="description-info">El Corvette es un automóvil deportivo de la marca Chevrolet
                        , conocido por su diseño aerodinámico y su potencia. Se lanzó en 1953
                         como un automóvil de producción limitada y desde entonces ha pasado por
                          varias generaciones con diseños actualizados.</p>
                </div>
            </div>
        </div>        
        <div class="container">
            <div class="wrapper">
                <div class="banner-image" id="porche"></div>
                <h1 class="h1-pequeño">Porsche 911</h1>
                <div class="informacion">
                    <p class="tipo">Año Creación:</p>
                    <p class="ano">1963</p>
                </div>
                <div class="description">
                    <p class="tipo">Descripción:</p>
                    <p class="description-info">El Porsche 911 es un automóvil deportivo icónico de la marca alemana Porsche, reconocido por su diseño distintivo y su potencia. Se introdujo en 1963 y ha pasado por varias generaciones con mejoras en el diseño y la tecnología. Es uno de los autos deportivos más populares y reconocidos en todo el mundo.</p>
                </div>
            </div>
        </div>
        <div class="div-footer">
            <footer class="footer">
                <div class="footer-content">
                    <h3>Pagina hecha por Juan José Francisco Uriarte</h3>
                    <a href="https://github.com/juanjouriarte/Web/tree/main/Tareas/Tarea%201" class="repositorio" target="_blank"><p>@juanjouriarte —  clickear para ir al codigo fuente.</p></a>
                </div>
            </footer>
        </div>
    </section>
</body>
</html>