<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mejores Autos de la Pelicula Cars</title>
    <link rel="stylesheet" href="../assets/styles/content.css">
</head>
<body>
    <nav>
        <input id="nav-toggle" type="checkbox">
        <div class="logo">BEST<strong> CARS</strong></div>
        <ul class="links">
            <li><a href="../../index.html">Inicio</a></li>
            <li><a href="#">Content</a></li>
            <li><a href="about.html">About</a></li>
        </ul>
        <label for="nav-toggle" class="icon-burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </label>
    </nav>
    <section class="autos">
        <div class="container">
            <div class="wrapper">
                <div class="banner-image" id="supra"> </div>
                    <h1> Toyota Supra</h1>
                    <div class="informacion">
                        <p class="tipo">Año Creación:</p><p class="ano">1978</p>
                    </div>
                    <div class="description">
                        <p class="tipo">Descripcion:</p><p class="description-info">El Toyota Supra es un automóvil deportivo de dos puertas 
                            con motor de seis cilindros en línea, tracción trasera y diseño aerodinámico. 
                            Es reconocido por su rendimiento y manejo deportivo, así como por su asociación
                             con la cultura de carreras de autos modificados.</p>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="container">
            <div class="wrapper">
                <div class="banner-image" id="ford"> </div>
                    <h1> Ford Mustang</h1>
                    <div class="informacion">
                        <p class="tipo">Año Creación:</p><p class="ano">1964</p>
                    </div>
                    <div class="description">
                        <p class="tipo">Descripcion:</p><p class="description-info">El Mustang es un auto deportivo de Ford icónico, reconocido por su diseño clásico y 
                            rendimiento en la carretera. Desde su debut en 1964, ha sido uno de los modelos más emblemáticos de la
                             marca, con varias generaciones y diseños actualizados.</p>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="container">
            <div class="wrapper">
              <div class="banner-image" id="volkswagen"> </div>
              <div class="info">
                <h1 class="h1-pequeño">Volkswagen Beetle</h1>
                <div class="informacion">
                  <p class="tipo">Año Creación:</p><p class="ano">1938</p>
                </div>
                <div class="description">
                  <p class="tipo">Descripción:</p><p class="description-info"> El Beetle es un automóvil compacto de Volkswagen con un diseño peculiar en forma 
                    de "escarabajo". Fue diseñado originalmente en los años 30 y se convirtió en un vehículo 
                    popular en todo el mundo, siendo producido durante décadas hasta su descontinuación en 2019.</p>
                </div>
              </div>
            </div>
          </div>          
        <div class="container">
            <div class="wrapper">
                <div class="banner-image" id="corvette"></div>
                <h1 class="h1-pequeño">Chevrolet Corvette</h1>
                <div class="informacion">
                    <p class="tipo">Año Creación:</p>
                    <p class="ano">1953</p>
                </div>
                <div class="description">
                    <p class="tipo">Descripción:</p>
                    <p class="description-info">El Corvette es un auto deportivo de Chevrolet conocido por su diseño aerodinámico y potencia. 
                        Se presentó en 1953 como un vehículo de producción limitada y ha evolucionado a través de varias 
                        generaciones con diseños actualizados.</p>
                </div>
            </div>
        </div>        
        <div class="container">
            <div class="wrapper">
                <div class="banner-image" id="porche"></div>
                <h1 class="h1-pequeño">Porsche 911</h1>
                <div class="informacion">
                    <p class="tipo">Año Creación:</p>
                    <p class="ano">1963</p>
                </div>
                <div class="description">
                    <p class="tipo">Descripción:</p>
                    <p class="description-info">El Porsche 911 es un automóvil deportivo icónico de la marca alemana Porsche, reconocido por su diseño distintivo y su potencia. Se introdujo en 1963 y ha pasado por varias generaciones con mejoras en el diseño y la tecnología. Es uno de los autos deportivos más populares y reconocidos en todo el mundo.</p>
                </div>
            </div>
        </div>
        <div class="div-footer">
            <footer class="footer">
                <div class="footer-content">
                    <h3>Pagina hecha por Juan José Francisco Uriarte</h3>
                    <a href="https://github.com/juanjouriarte/Web/tree/main/Tareas/Tarea%201" class="repositorio" target="_blank"><p>@juanjouriarte —  clickear para ir al codigo fuente.</p></a>
                </div>
            </footer>
        </div>
    </section>
</body>
</html>