* {
    font-family: 'Josefin Sans', sans-serif;
}

html {
    height: 100%;
}

body {
    width: 100%;
    /* background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%); */
    background-color: #2b333c;
    background-image: linear-gradient(336deg, #2b333c 0%, #323e43 37%, #14171c 100%);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0px;
    padding-left: 10%;
    padding-right: 10%;
}

.logo {
    color: white;
    font-size: 28px;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
    padding: 10px 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold ;
}

nav ul li a:hover {
    color: #fa8e4f;
    transition: 0.3s;
}

.contenedor {
    margin: 10px auto;
    width: 80%;
}

.logo:hover {
    background-image: linear-gradient(90deg, red, orange);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;    
    /* grid-template-columns: repeat(auto-fill,minmax(200px, 30%)); */
    flex-wrap: wrap;
    margin: 0 20% 0 20%;
}
  
  .container {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.25);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);  
    padding: 38px; 
    margin: 10px;
    filter: drop-shadow(0 30px 10px rgba(0,0,0,0.125));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    text-align: center;
    
  }

  .container:hover{
    box-shadow: 0 0 100px #d56c16;
  }
  
  .wrapper {
    width: 100%;
    height: 100%;
    
  }
  
  .banner-image {
    background-position: center;
    background-size: cover;
    height: 300px;
    width: 100%;
    border-radius: 12px;
    border: 1px solid rgba(255,255,255, 0.255)
  }

  #supra {
    background-image: url(../imgs/supra.avif);

  }

  #ford {
    background-image: url(../imgs/mustang.jpeg);
  }

  #volkswagen {
    background-image: url(../imgs/volkswagen.jpg);
  }
  #corvette {
    background-image: url(../imgs/corvette.jpeg);
  }

  #porche {
    background-image: url(../imgs/porche.jpeg);
  }
  
  h1{
    font-family: 'Righteous', sans-serif;
    color: rgba(255,255,255,0.98);
    text-transform: uppercase;
    font-size: 2.4rem;
    max-width: 100%;
  }

  .h1-pequeño {
    font-size: 1.7rem;
  }
  
  p {
    color: #fff;
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 0.8rem;
    line-height: 150%;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  .informacion {
    display: flex;
    align-items: center;
    justify-content: center;    
    /* grid-template-columns: repeat(auto-fill,minmax(200px, 30%)); */
    flex-wrap: wrap;
  }

  .description {
    max-width: 300px;
    overflow: auto;
    margin: 0 auto;
  }

  p {
    margin: 0 1em 1em 1em;
  }
  
  .container:hover .ano ,.container:hover .description-info{
    color:#d56c16;
  }

  .description-info {
    text-transform: none;
    text-align: justify;
  }

  .tipo {
    justify-content: left;
  }

  .div-footer {
    margin-top: auto;
}
  footer{
    margin-top: auto;
    background: #1d1c1c;
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: #fff;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3{
    font-size: 2.1rem;
    font-weight: 500;
    line-height: 3rem;
}


.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
}

.repo {
    text-decoration: none;

}

.repo:visited {
    color: orange;
}